<section>
  <article>
    <div class="container">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre Campaña</th>
              <th>Alcance</th>
              <th>Impresiones</th>
              <th>CPC</th>
              <th>CPL</th>
              <th>CPM</th>
              <th>CPA</th>
              <th>CPV</th>
              <th>CTR</th>
              <th>Costo Total</th>
            </tr>
          </thead>
          <tbody>
            <% @value.each do |value| %>
            <tr>
              <td> <%= value[:nombre] %> </td>
              <td> <%= value[:alcance][0] %></td>
              <td> <%= value[:impresiones][0] %></td>
              <% if !value[:cpc].nil? %>
                <td> <%= value[:cpc][0] %></td>
              <% else %>
                <td> </td>
              <% end %>
              <% if !value[:cpl].nil? %>
                <td> <%= value[:cpl][0] %></td>
              <% else %>
                <td> </td>
              <% end %>
              <% if !value[:cpm].nil? %>
                <td> <%= value[:cpm][0] %></td>
              <% else %>
                <td> </td>
              <% end %>
              <% if !value[:cpa].nil? %>
                <td> <%= value[:cpa][0] %></td>
              <% else %>
                <td> </td>
              <% end %>
              <% if !value[:cpv].nil? %>
                <td> <%= value[:cpv][0] %></td>
              <% else %>
                <td> </td>
              <% end %>
              <td> <%= value[:ctr][0] %></td>
              <td> <%= value[:total_cost][0] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</section>
