<style>
  body {
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: #4CAF50;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  </style>
</style>

<section>
  <article>
    <div>
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <% @names.each do |user| %>
          <li><a href="/get_value/<%= user[1] %>"> <%= user[0] %> </a></li>
        <% end %>
      </ul>
    </div>
    <div id="container" style="height: 400px; min-width: 310px"></div>

  </article>
</section>
