<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <%= wicked_pdf_stylesheet_link_tag "application" -%>
 <%= wicked_pdf_javascript_include_tag "application" -%>
 <script>
    window.onload = function() {
        document.getElementById("container").innetHTML = "Hola mundo"
}
$(function () { 
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        plotOptions: {
            series: {
              enableMouseTracking: false,
              shadow: false, 
              animation: false
            }
          },
        title: {
            text: 'Sesiones por ciudad'
        },
        xAxis: {
            categories: [
                <% @ga_cities.first(10).each do |result| %>
                    "<%= result.first %>" ,
                <% end %>
            ]
        },
        yAxis: {
            title: {
                text: 'Sesiones'
            }
        },
        series: [{
            name: 'Sesiones',
            data: [
                <% @ga_cities.first(10).each do |result| %>
                    <%= result[1] %> ,
                <% end %>
            ]
        }]
    });
});

$(function () {
    <% if @ga_gender.first[0] == 'male'
         index_male = 0 
        index_female = 1
      else
        index_male = 1
        index_female = 0
      end %>
     var myChart = Highcharts.chart('pie', {
         title: {
             text: 'Gender'
         },
         plotOptions: {
            series: {
              enableMouseTracking: false,
              shadow: false, 
              animation: false
            }
          },
         series: [{
             type: 'pie',
             data: [{
                 name: 'Hombres',
                 y: <%= @ga_gender[index_male][1] %> ,
                 color: Highcharts.getOptions().colors[0] // Jane's color
             }, {
                 name: 'Mujeres',
                 y: <%= @ga_gender[index_female][1] %> ,
                 color: Highcharts.getOptions().colors[2] // John's color
             }],
             showInLegend: false,
             dataLabels: {
                 enabled: true
             }
         }]
     });
 });
 $(function () {
    var myChart = Highcharts.chart('conversions', {
        title: {
            text: 'Conversiones'
        },
        plotOptions: {
            series: {
            enableMouseTracking: false,
            shadow: false, 
            animation: false
            }
        },
        series: [{
            type: 'pie',
            name: 'Conversiones',
            data: [
            <% @ga_convertions.each_with_index do |result, index| %>
            {
                name: "<%= result[0] %>",
                y: <%= result[1] %> ,
                color: Highcharts.getOptions().colors[<%= index %>] // Jane's color
            }
            <% break if result[1] == "0"  %> 
            ,
           <% end %> ],
            showInLegend: true,
            dataLabels: {
                enabled: false
            }
        }]
    });
});
 </script>
</head>
<body onload='number_pages'>
<h1>REPORTE CMD</h1>
<div class="">
    Desde el <%= @start_date %> al  <%= @end_date %>
</div>
 <h1>Conversiones</h1>
 <% unless @ga_convertions.nil? %>
 <div id="conversions" style="width:100%; height:400px;"></div>
 <table class="table table-striped">
     <% @ga_convertions.each do |result| %>
    <% break if result[1] == "0"  %> 
     <tr>
         <% result.each do |column| %>
             <td>
                 <%= column %>
             </td>
         <% end %>
     </tr>
     <% end %>
 </table>
 <% else %>
     Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
 <% end %>
 <h1>Ciudades</h1>
 <% unless @ga_cities.nil? %>
 <div id="container" style="width:100%; height:400px;"></div>
 <table class="table table-striped">
     <% @ga_cities.first(10).each do |result| %>
     <tr>
         <% result.each do |column| %>
             <td>
                 <%= column %>
             </td>
         <% end %>
     </tr>
     <% end %>
 </table>
 <% else %>
     Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
 <% end %>
 <h1>Género</h1>
 <% unless @ga_gender.nil? %>
 <div id="pie" style="width:100%; height:400px;"></div>
 <table class="table table-striped">
     <% @ga_gender.first(10).each do |result| %>
     <tr>
         <% result.each do |column| %>
             <td>
                 <%= column %>
             </td>
         <% end %>
     </tr>
     <% end %>
 </table>
 <% else %>
     Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
 <% end %>
 <h1>Edades</h1>
 <% unless @ga_age.nil? %>
 <table class="table table-striped">
     <% @ga_age.first(10).each do |result| %>
     <tr>
         <% result.each do |column| %>
             <td>
                 <%= column %>
             </td>
         <% end %>
     </tr>
     <% end %>
 </table>
 <% else %>
     Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
 <% end %>
</body>
</html>