<% unless @autherror %>
<h1>Cuentas de analytics</h1>
<div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
    <% @account_summaries.items.each do |result| %>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= result.name %>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> 
            <% result.web_properties.each do |propertie| %>
                <%= link_to ( propertie.name+' - '+propertie.website_url+' - '+propertie.profiles[0].id ), view_analytics_path(propertie.profiles[0].id, '30daysAgo'), class: 'dropdown-item' %>
            <% end %>
        </div>
    </div>
    <% end %>
  </div>
  <% else %>
  hay un error de permisos
  <%= link_to  "Login with google", redirect_path %>
  <% end %>

<div class="container">
    <%= form_tag analytics_path do |f| %>
        <div class="form-group">
            <%= label_tag :account, "Cuenta" %>
            <%= select_tag :account, options_for_select(@account_summaries.items.collect {|c| [ c.web_properties.first.name.to_s, c.web_properties.first.profiles[0].id.to_s] }), class: 'form-control' %>
        </div>
        <div class="form-group">
           <%= label_tag :time, "Antigüedad de los datos" %> 
           <%= select_tag :tiem, options_for_select(["30daysAgo", "14daysAgo", "7daysAgo"]), class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= label_tag :action, "¿Qué desea hacer?" %> 
            <%= select_tag :tiem, options_for_select(["Ver información", "Descargar PDF", "Descargar xlsx"]), class: 'form-control' %>
        </div>
        <div class="actions">
            <input type="submit" value="listo!" class="btn btn-primary">
        </div>
    <% end %>
</div>

<!-- <h1>Cuentas de Analytics</h1>
<table>
    <%# @account_summaries.items.each do |result| %>
    <tr>
            <td>
                <%#= result.name %>
                <ul>
                    <%# result.web_properties.each do |propertie| %>
                    <li><%#= propertie.name %> - <%#= propertie.website_url %></li>
                    <%# end %>
                </ul>
            </td>
    </tr>
    <%# end %>
</table> -->

<table>
<!-- <%# @analytics.rows.each do |result| %>
<tr>
    <%# result.each do |column| %>
        <td>
            <%#= column %>
        </td>
    <%# end %>
</tr>
<%# end %> -->
</table>
