<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-right">
            <div class="btn-group" role="group" aria-label="Select time">
                <%= link_to  "hace 7 dias", view_analytics_path(@account, '7daysAgo'), class: 'btn btn-secondary' %>
                <%= link_to  "hace 2 semanas", view_analytics_path(@account, '14daysAgo'), class: 'btn btn-secondary' %>
                <%= link_to  "hace 30 dias", view_analytics_path(@account, '30daysAgo'), class: 'btn btn-secondary' %>
            </div>
            <%= link_to  "descargar reporte", report_path(@account, @time, :format => :pdf) %>
            <%= link_to  "descargar reporte xlsx", print_excel_path(@account, @time, :format => :xlsx) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h1>Conversiones</h1>
            <% unless @ga_convertions.nil? %>
            <table class="table table-striped">
                <% @ga_convertions.first(10).each do |result| %>
                <tr>
                    <% result.each do |column| %>
                        <td>
                            <%= column %>
                        </td>
                    <% end %>
                </tr>
                <% end %>
            </table>
            <% else %>
                Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
            <% end %>
        </div>
        <div class="col-md-3">
            <h1>Ciudades</h1>
            <% unless @ga_cities.nil? %>
            <table class="table table-striped">
                <% @ga_cities.first(10).each do |result| %>
                <tr>
                    <% result.each do |column| %>
                        <td>
                            <%= column %>
                        </td>
                    <% end %>
                </tr>
                <% end %>
            </table>
            <% else %>
                Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
            <% end %>
        </div>
        <div class="col-md-3">
            <h1>Género</h1>
            <% unless @ga_gender.nil? %>
            <table class="table table-striped">
                <% @ga_gender.first(10).each do |result| %>
                <tr>
                    <% result.each do |column| %>
                        <td>
                            <%= column %>
                        </td>
                    <% end %>
                </tr>
                <% end %>
            </table>
            <div id="pie" style="width:100%; height:400px;"></div>
            <% else %>
                Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
            <% end %>
        </div>
        <div class="col-md-3">
            <h1>Edades</h1>
            <% unless @ga_age.nil? %>
            <table class="table table-striped">
                <% @ga_age.first(10).each do |result| %>
                <tr>
                    <% result.each do |column| %>
                        <td>
                            <%= column %>
                        </td>
                    <% end %>
                </tr>
                <% end %>
            </table>
            <% else %>
                Vaya, al parecer no hay datos aqui, puede que tengas deshablitada esta opción en tu cuenta de Analytics
            <% end %>
        </div>
    </div>
</div>
<div id="conversions" style="width:100%; height:400px;"></div>
<div id="container" style="width: 100%; height:400px;"></div>

<script>
    $(function () { 
        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Sesiones por ciudad'
            },
            xAxis: {
                categories: [
                    <% @ga_cities.first(10).each do |result| %>
                        "<%= result.first %>" ,
                    <% end %>
                ]
            },
            yAxis: {
                title: {
                    text: 'Sesiones'
                }
            },
            series: [{
                name: 'Sesiones',
                data: [
                    <% @ga_cities.first(10).each do |result| %>
                        <%= result[1] %> ,
                    <% end %>
                ]
            }]
        });
    });

    $(function () {
       <% if @ga_gender.first[0] == 'male'
            index_male = 0 
           index_female = 1
         else
           index_male = 1
           index_female = 0
         end %>
        var myChart = Highcharts.chart('pie', {
            title: {
                text: 'Gender'
            },
            series: [{
                type: 'pie',
                name: 'personas',
                data: [{
                    name: 'Hombres',
                    y: <%= @ga_gender[index_male][1] %> ,
                    color: Highcharts.getOptions().colors[0] // Jane's color
                }, {
                    name: 'Mujeres',
                    y: <%= @ga_gender[index_female][1] %> ,
                    color: Highcharts.getOptions().colors[2] // John's color
                }],
                showInLegend: false,
                dataLabels: {
                    enabled: true
                }
            }]
        });
    });

    $(function () {
         var myChart = Highcharts.chart('conversions', {
             title: {
                 text: 'Conversiones'
             },
             series: [{
                 type: 'pie',
                 name: 'Conversiones',
                 data: [
                 <% @ga_convertions.each_with_index do |result, index| %>
                 {
                     name: "<%= result[0] %>",
                     y: <%= result[1] %> ,
                     color: Highcharts.getOptions().colors[<%= index %>] // Jane's color
                 }
                 <% break if result[1] == "0"  %> 
                 ,
                <% end %> ],
                 showInLegend: true,
                 dataLabels: {
                     enabled: false
                 }
             }]
         });
     });
     </script>
