<!DOCTYPE html>
<html>
  <head>
    <title>HablaReports</title>
    <%= csrf_meta_tags %>
    <meta name="google-signin-client_id" content="267501667920-h1ga3oihuq4nceg2mjhr3akdmhn4v8cg.apps.googleusercontent.com">
      <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
